.card-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 16px;
  max-height: none!important;
  .card {
    width: 50%;
    max-width: 320px;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    &:nth-child(2n) {
      padding-left: 8px;
    }
    &:nth-child(2n -1) {
      padding-right: 8px;
    }
    img {
      margin-bottom: -16px;
      display: block;
    }
  }
}
